{% extends 'layout.html' %}

{% include "includes/navbar.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}

<div class="container">
    <div class="wrap">

        <form method="POST">
            <dl>
                {{ render_field(form.username, class ="form-control") }}
                {{ render_field(form.password, class ="form-control") }}    
            </dl>
            <p><button type="submit" class="btn btn-dark btn-block">Login</button>
          </form>

    </div>
</div>


{% endblock body %}